.Reservation {
    padding-top: 50px;

    .container {
        max-width: 1420px;

        h2, h3, h4 {
            font-family: "Times New Roman";
        }

        .calendar-block {
            display: flex;
            justify-content: center;
            gap: 50px;

            .calendar {
                margin: 0 auto;
 
            }

            .input-block {
                h2 {
                    padding-top: 50px;
                    margin-bottom: 30px;
                }

                .input__Reservation {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .avialable-rooms {
            h3 {
                margin-top: 50px;
                margin-bottom: 30px;
            }

            .items {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;
                list-style: none;

                .item {
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    background-color: #ffffff;

                    img {
                        width: 100%;
                        max-width: 350px;
                        object-fit: cover;
                    }

                    .item-content {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        h4 {
                            font-style: italic;
                            font-size: clamp(15px, 3vw, 25px);
                        }

                        .price-block {
                            display: flex;
                            flex-direction: column;

                            .price-wrapper {
                                .price {
                                    font-weight: bold;
                                }

                                .notice {
                                    font-size: 10px;
                                }
                            }
                        }

                        .reservation-button {
                            display: inline-block;
                            max-width: 150px;
                            color: #ffffff;
                            background-color: #3C6F84;
                            padding: 10px 20px;
                        }
                    }
                }
            }
        }
    }
}