.Main__room {

    .image-wrapper {
        max-height: 600px;
        max-width: 1920px;
        overflow: hidden;
        margin: 0 auto;
                    
        img {
            width: 100%;
        }
    }

    .container {
        max-width: 1440px;

        h2 {
            font-family: "Times New Roman";
            font-size: clamp(25px, 2vw, 40px);
            margin-top: 60px;
            margin-bottom: 30px;
        }

        p {
            font-size: clamp(12px, 2vw, 18px);
            line-height: 155%;
        }

        .features {
            text-transform: uppercase;
            margin-top: 20px;
        }

        .comfort {
            font-family: "Times New Roman";

            h3 {
                font-size: clamp(15px, 2vw, 25px);
                margin-top: 40px;
                margin-bottom: 20px;
            }

            .comfort-items {
                list-style: none;
                font-size: clamp(10px, 2vw, 18px);

                li {
                    margin-bottom: 10px;
                }
            }
        }
    }
}