.Main__room {

    .image-wrapper {
        max-height: 800px;
        max-width: 1920px;
        overflow: hidden;
        margin: 0 auto;
                    
        img {
            width: 100%;
        }
    }

    .container {
        
    }
}