.TopNav {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    transition: .3s;
    top: 0;
    z-index: 2;

    .container {
        display: flex;
        justify-content: space-between;
        max-width: 1158px;
        position: relative;

        p {
            font-family: "Myriad Pro";
            font-weight: normal;
            font-size: 16px;
            padding: 20px 0;
        }
        
        .logo {
            max-width: 110px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 4px);
            opacity: 1;
            transition: .3s;
        }

        .hidden-logo {
            opacity: 0;
        }
    }
}

.hidden {
    top: -58px;
}