.Button {
    display: inline-block;
    padding: 14px 27px;
    background-color: #3C6F84;
    cursor: pointer;

    span {
        color: #ffffff;
        font-family: "Myriad Pro";
        font-weight: bold;
        font-size: 20px;
    }
}