.Main {
    padding-top: 50px;

    .container {
        max-width: 1440px;

        .items {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 35px;

            @media (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 564px) {
                grid-template-columns: repeat(1, 1fr);
            }

            .item {
                list-style: none;
                background-color: #ffffff;
                transition: .2s;

                &:hover {
                    transform: scale(1.02);
                    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
                }

                .item-wrapper {
                    color: #202020;
                    text-decoration: none;

                    .image-wrapper {
                        img {
                            height: 100%;
                            max-width: 100%;
                        }
                    }   

                    .item-content {
                        justify-content: space-between;
                        font-family: "Times New Roman";

                        h3 {
                            font-size: 25px;
                            text-align: center;
                            margin: 20px 10px 20px;
                        }

                        p {
                            line-height: 155%;
                        }

                        .properties-items {
                            display: flex;
                            justify-content: space-between;
                            list-style: none;
                            padding: 10px;
                            background-color: #f9f9f9;
                            padding: 15px 40px;

                            .item__properties {
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                .property {
                                    font-size: 24px;
                                }
                            }
                        }
                    } 
                }
            }

            .hit-room {
                order: -1;
                grid-column: 1 / 3;

                .item-wrapper {
                    display: flex;

                    @media (max-width: 1200px) {
                        
                    }

                    .image-wrapper {
                        flex-basis: 200%;

                        img {
                            flex-basis: 65%;
                        }
                    }  
                }
            }
        }
    }
}