.Experiences {
    margin-top: 150px;

    .container {
        max-width: 1145px;

        .main-photo__Experiences {
            max-width: 100%;
        }

        h2 {
            font-family: "Times New Roman";
            font-size: clamp(25px, 3vw, 45px);
            margin-bottom: 40px;
        }

        .items {
            display: flex;
            gap: 30px;
            list-style: none;

            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 400px;

                div {

                    img {
                        height: 300px;
                        width: 100%;
                        max-width: 100%;
                        object-fit: cover;
                    }
                }

                p {
                    line-height: 155%;
                }
            }
        }
    }
}