.ExOffer {
    padding: clamp(15px, 10vw, 50px) 0;
    margin: clamp(35px, 10vw, 100px) 0;
    overflow: hidden;
    position: relative;

    .container {
        max-width: 1158px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;

        .text__ExOffer {
            max-width: 620px;
            flex-basis: 75%;
            font-family: "Times New Roman";
            text-align: center;

            h2 {
                color: #202020;
                font-weight: bold;
                font-size: clamp(25px, 3vw, 45px);
                margin-bottom: 0.9em;
            }

            p {
                color: #969696;
                font-size: clamp(12px, 1.5vw, 16px);
                line-height: 155%;
                margin-bottom: 20px;
            }
        }

        .collage-image {
            max-width: 100%;

            @media (max-width: 450px) {
                display: none;
            }
        }

        @media (max-width: 450px) {
            justify-content: center;
        }
    }

    &::after {
        content: "";
        width: 65vw;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: #ffffff;
        z-index: -1;

        @media (max-width: 450px) {
            display: none;
        }
    }
}