.Header {
    .container {
        max-width: 1920px;
        margin: 0 auto;
        padding: 0;
        position: relative;
        overflow: hidden;

        .video {
            width: 100vw;
            max-width: 1920px;
        }

        .title-block {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .title {
                color: #ffffff;
                font-family: 'Myriad Pro';
                font-weight: bold;
                font-size: clamp(60px, 8vw, 150px);
                text-align: center;
                position: relative;
            }

            .title::before, .title::after {
                font-family: "Lobster Two";
                font-weight: normal;
                font-size: clamp(25px, 3vw, 50px);
                position: absolute;
            }

            .title::before {
                content: "Santa Monica";
                transform: translate(0%, -35%);
            }
            
            .title::after {
                content: "California";
                transform: translate(-100%, -35%);
            }
        }
    }

    @media (max-width: 768px) {
        padding-top: 0px;

        .container {

            .video {
                width: auto;
            }
        }   
    }
}