.Nav {
    width: 100%;
    box-shadow: 0 0 25px rgba($color: #000000, $alpha: 0.2);
    background-color: #ffffff;
    position: fixed;
    top: 0;
    transition: .3s;
    z-index: 10;

    .container {
        max-width: 1158px;

        .nav-items {

            .top-nav, .bottom-nav {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .links, a {
                    color: #202020;
                    font-family: "Myriad Pro";
                    font-size: 18px;
                    text-decoration: none;
                    padding: 20px 0;
                }

                a {
                    font-size: 16px;
                }

                .link-width {
                    width: 100%;
                    max-width: 130px;

                    @media (max-width: 768px) {
                        width: auto;
                    }
                }

                .book-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    font-family: "Myriad Pro";
                    font-size: 18px;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 21px 25px;
                    background-color: #3C6F84;
                }

                p {
                    color: #202020;
                    font-family: "Myriad Pro";
                    font-size: 18px;
                    padding: 20px 0;
                }

                .text-logo {
                    color: #202020;
                    font-size: 20px;
                    font-weight: bold;
                    text-decoration: none;
                    opacity: 1;
                    transition: .3s;
                }

                .hidden-logo {
                    opacity: 0;
                }
            }
        }   

        .top-nav {
            .logo {
                max-width: 100px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: .3s;
            }

            .hidden-logo {
                opacity: 0;
                top: -58px;
            }
        }

        .burger-wrapper {
            display: none;

            .burger-block {
                height: 21px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                position: absolute;
                top: 30px;
                right: 30px;
                transition: .3s;

                .burger {
                    height: 2.5px;
                    width: 23px;
                    background-color: #ffffff;
                    position: relative;
                    transition: .3s;

                    &::before, &::after {
                        content: "";
                        display: block;
                        height: 2.5px;
                        background-color: #ffffff;
                        position: absolute;
                        right: 0;
                        transition: .3s;
                    }

                    &::before {
                        width: 15px;
                        top: -9px;
                    }

                    &::after {
                        width: 19px;
                        bottom: -9px;
                    }
                }

                &:hover {
                    .burger {
                        width: 17px;

                        &::before {
                            width: 22px;
                        }

                        &::after {
                            width: 20px;
                        }
                    }
                }

                &:active {
                    transform: scale(0.95);
                }

                .burger.close-button {
                    background-color: transparent;

                    &::before, &::after {
                        background-color: #3C6F84;
                        width: 30px;
                    }

                    &::before {
                        transform: rotateZ(45deg);
                        top: 0;
                    }

                    &::after {
                        transform: rotateZ(-45deg);
                        bottom: 0;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        top: 0px;

        .container {
            padding: 0;

            .nav-items {
                max-width: 450px;
                width: 100%;
                position: absolute;
                right: -100%;
                transition: right .3s;

                .top-nav {
                    justify-content: center;
                    background-color: #ffffff;
                    padding: 50px 35px 0;

                    .logo {
                        display: block;
                        width: 85px;
                        margin-bottom: 20px;
                        position: static;
                        transform: translate(0);
                    }

                    a:first-child, a:last-child {
                        display: none;
                    }
                }

                .bottom-nav {
                    width: 100%;
                    flex-direction: column;
                    background-color: #ffffff;
                    padding: 25px 0;

                    .hidden-logo {
                        display: none;
                    }
                }
            }

            .burger-wrapper {
                display: block;
            }

            .nav-show {
                right: 0%;
            }
        }
    }
}

.hidden-nav {
    top: -61px;
}