.Nav {
    position: fixed;
    background-color: #ffffff;
    top: 58px;
    width: 100%;
    z-index: 1;

    .container {
        max-width: 1158px;
        display: flex;
        justify-content: space-between;

        p {
            font-family: "Myriad pro";
            font-weight: normal;
            font-size: 16px;
            padding: 20px 0;
        }

        .text-logo {
            opacity: 0;
        }
    }
}