.Events {
    background-color: #292929;
    padding: 150px 0;

    .container {
        max-width: 1440px;

        h2 {
            color: #ffffff;
            font-family: "Times New Roman";
            font-size: clamp(25px, 3vw, 45px);
            margin-bottom: 40px;
        }

        p {
            color: #ffffff;
            font-family: "Times New Roman";
            font-size: clamp(10px, 1.5vw, 16px);
            text-align: center;
            margin-top: 50px;
        }

        .slider-block {
            height: 100%;
            height: 700px;
            overflow-y: hidden;
            overflow-x: scroll;
            position: relative;

            .slider-content {
                position: absolute;
                top: 50%;
                left: 0%;
                transform: translateY(-50%);

                .slider {
                    display: flex;
                    max-height: 700px;
                    overflow: hidden;

                    div {

                        img {
                            max-width: 1148px;
                        }
                    }
                }
            }
        }
    }
}