.Events {
    margin-top: 150px;

    @media (max-width: 768px) {
        margin-top: 50px;
    }

    .container {
        max-width: 1920px;
        padding: 0;
        position: relative;

        h2 {
            color: #ffffff;
            font-family: "Times New Roman";
            font-size: clamp(25px, 3vw, 45px);
            margin-bottom: 40px;
            position: absolute;
            top: 40px;
            left: 60px;
            z-index: 1;
        }

        .slider {
            .slider-image-wrapper {
                filter: brightness(0.4);
            }

            .slick-prev, .slick-next {
                z-index: 1;

                &::before {
                    font-size: 30px;
                    color: #ffffff;
                }
            }

            .slick-prev {
                left: 10px;
            }

            .slick-next {
                right: 20px;
            }

            .slider-image-wrapper {
                img {
                    max-height: 1000px;
                    width: 100%;
                    object-position: center;

                    @media (max-width: 550px) {
                        max-height: 700px;
                        width: auto;
                    }
                }
            }

            .slick-dots {
                color: #ffffff;
                bottom: 10px;

                li {
                    button:before {
                        color: #ffffff;
                        z-index: 4;
                    }
                }
            }
        }

        .slider-text-wrapper {
            width: 100%;
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);

            p {
                width: 65%;
                color: #ffffff;
                font-family: "Times New Roman";
                font-size: clamp(10px, 1.5vw, 20px);
                text-align: center;
                padding: 40px 0 50px;
                margin: 0 auto;
            }
        }
    }
}