.Events {
    background-color: #292929;
    padding: 150px 0;

    .container {
        max-width: 1920px;

        h2 {
            color: #ffffff;
            font-family: "Times New Roman";
            font-size: clamp(25px, 3vw, 45px);
            margin-bottom: 40px;
        }

        .slider {

            .slick-prev, .slick-next {
                z-index: 1;

                &::before {
                    font-size: 30px;
                    color: #3C6F84;
                }
            }

            .slick-prev {
                left: 10px;
            }

            .slick-next {
                right: 20px;
            }

            .slider-image-wrapper {
                max-height: 700px;
                img {
                    width: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                }
            }
        }

        p {
            color: #ffffff;
            font-family: "Times New Roman";
            font-size: clamp(10px, 1.5vw, 16px);
            text-align: center;
            margin-top: 50px;
        }
    }
}